<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head('PCCE Integration')}"></head>
<body>
<main th:replace="~{layout/base :: page('PCCE Integration', 'AW/HDS, CUIC, Finesse, CVP and Unified Config integration readiness')}">
    <section th:fragment="content" class="panel">
        <a th:href="@{/dashboard/index.html(view='integration')}">Open PCCE Integration</a>
        <script type="module" th:src="@{/js/views/cx-integration.js}"></script>
    </section>
</main>
</body>
</html>
