<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head('CVP APIs')}"></head>
<body>
<main th:replace="~{layout/base :: page('CVP APIs', 'CVP REST, ORM actions, VXML apps, media and diagnostics')}">
    <section th:fragment="content" class="panel">
        <a data-dashboard-view="cvp" th:href="@{/dashboard/index.html(view='cvp')}">Open CVP APIs</a>
        <script type="module" th:src="@{/js/views/cx-cvp.js}"></script>
    </section>
</main>
</body>
</html>
